<%- layout("layouts/boilerplate.ejs") -%>
<body>
<div class="container mt-5 mb-3">
    <h3 class="mb-4">Add Details:</h3>
    <form method="post" action="/listings/add" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description.." required></textarea>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image url:</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Enter Image Url/Link" >
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location" required>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-25">Submit</button>
        </div>
    </form>
</div>

</body>