<footer class="footer">
    <div class="f-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-name">
        &copy; Airbnb Private Limited
    </div>
    <div class="f-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">terms</a>
    </div>
</footer>